@use '/node_modules/bootstrap/dist/css/bootstrap.css';

body {
  background: url(/img/greyzz.png);
  margin-top: 3.5rem;
}

.navbar-brand img {
  width: 20px;
}

.jumbotron {
  padding: 0px 0px 2rem 0px;
}

.jumbotron > img {
  clip-path: ellipse(90% 50% at 50% 40%);
}

footer {
	margin-top: 1rem;
  padding: 2.5rem 0;
  color: white;
	text-align: center;
	background-color: #727e8a;
  background-image: url(/img/circuito.png);
  background-position: center;
	border-top: .05rem solid #343a40;
  clip-path: ellipse(70% 60% at 50% 60%);
}

footer a {
  color: white;
}

a.list-group-item, .categorias a {
  transition: 0.3s ease;
}

a.list-group-item:hover, .categorias a:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2);
}

.list-group-item img {
    width: 100px;
    float: left;
    margin-right: 1em;
}

picture img {
  width: 100%;
}

@media (min-width: 575px) and (max-width: 767px) {
  .container.categorias .col-md-4 {
  	padding-left: 190px;
  }
  .container.categorias .col-md-4 img {
    float: left;
    margin-left: -175px;
    width: 160px;
  }
}

@media (max-width: 574px) {
  .container.categorias .col-md-4 img {
  	max-width: 300px;
  }
}