@use '/node_modules/bootstrap/dist/css/bootstrap.css';

body {
  background: url(/img/greyzz.png);
  margin-top: 3.5rem;
}

footer {
    padding: 2.5rem 0;
    color: #999;
	text-align: center;
	background-color: #727e8a;
	border-top: .05rem solid #343a40;
}

